>**Other articles on Devops -**
>1. **Part-1 :** [Setup kubernetes on Ubuntu](https://jhooq.com/14-steps-to-install-kubernetes-on-ubuntu-18-04-and-16-04/)
>2. **Part-2 :** [Setup Kubernetes on CentOs](https://jhooq.com/15-steps-to-install-kubernetes-on-bento-centos7/)
>3. **Part-3 :** [Setup HA Kubernetes Cluster with Kubespray](https://jhooq.com/kubespray-12-steps-for-installing-a-production-ready-kubernetes-cluster/)
>4. **Part-4 :** [Setup HA Kubernetes with Minikube](https://jhooq.com/kubernets-and-minikube/)
>5. **Part-5 :** [Setup Kubernetes Dashboard for local kubernetes cluster](https://jhooq.com/setting-up-kubernetes-dashboard/)
>6. **Part-6 :** [Setup Kubernetes Dashboard On GCP(Google Cloud Platform)](https://jhooq.com/setting-up-kubernetes-dashboard/#gke-kubernetes-dashboard)
>7. **Part-7 :** [How to use Persistent Volume and Persistent Volume Claims in Kubernetes](https://jhooq.com/how-to-use-persistent-volume-and-persistent-claims-kubernetes)
>8. **Part-8 :** [Deploy Spring Boot Microservice on local Kubernetes cluster](https://jhooq.com/deploy-spring-boot-microservices-on-kubernetes/)
>9. **Part-9 :** [Deploy Spring Boot Microservice on Cloud Platform(GCP)](https://jhooq.com/deploy-spring-boot-microservices-on-kubernetes/#part-2)
>10. **Part-10 :** [Setting up Ingress controller NGINX along with HAproxy inside Kubernetes cluster](https://jhooq.com/ingress-controller-nginx/)
>11. **Part-11 :** [CI/CD Kubernetes | Setting up CI/CD Jenkins pipeline for kubernetes ](https://jhooq.com/ci-cd-jenkins-kubernetes)
>12. **Part-12 :** [kubectl export YAML | Get YAML for deployed kubernetes resources(service, deployment, PV, PVC....) ](https://jhooq.com/get-yaml-for-deployed-kubernetes-resources/)
>13. **Part-13 :** [How to setup kubernetes jenkins pipeline on AWS?](https://jhooq.com/aws-kubernetes-jenkins-pipeline)
>14. **Part-14 :** [Implementing Kubernetes liveness, Readiness and Startup probes with Spring Boot Microservice Application?](/kubernetes-liveness-readiness-startup-probes/)